* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.grilla {
  display: grid;
  grid-template-areas:
    "nav header header"
    "nav products aside"
    "nav services aside"
    "nav footer aside";

  grid-template-rows: 100px 200px 200px 75px;
  grid-template-columns: 20% auto 15%;
}

.header {
  grid-area: header;
  background-color: red;
}

.footer {
  grid-area: footer;
  background-color: greenyellow;
}

.products {
  grid-area: products;
  background-color: gray;
}

.services {
  grid-area: services;
  background-color: blue;
}

.nav {
  grid-area: nav;
  background-color: yellow;
}

.aside {
  grid-area: aside;
  background-color: brown;
}

img {
  width: 200px;
}

@media (max-width: 600px) {
  .grilla {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

/* width >= 700px entonces... */
/* @media (min-width: 700px) {
  body {
    background-color: black;
  }
} */

/* width >= 900px entonces... */
/* @media (min-width: 900px) {
  body {
    background-color: red;
  }
} */

/* width <= 800px entonces... */
/* @media (max-width: 800px) {
  body {
    background-color: green;
  }
} */

/* width entre 800 y 600 entonces... */
/* @media (max-width: 800px) and (min-width: 600px) {
  body {
    background-color: orange;
  }
} */
