* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

.header {
  background-color: blueviolet;
  color: white;
  text-align: center;
  padding: 24px;
}

.navigator {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 12px;
  color: green !important;
  background-color: gray;
  align-items: center;

  border: 20px red solid;
}

/* .navigator a {
  cursor: pointer;
  color: yellow;
} */
.link {
  color: yellow;
}

.link-button {
  padding: 20px;
  border-radius: 10px;
  width: 100px;
  background-color: black;
}

.navigator a:hover {
  text-decoration: underline;
}

.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 900px;
  gap: 20px;
  margin: 20px auto;
}

.section {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aside {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}

.lista li {
  list-style: none;
}

.footer {
  padding: 20px;
  text-align: center;
}

.demostracion {
  color: red;
}

@media (max-width: 700px) {
  .main {
    grid-template-columns: 1fr;
  }
}
